
.containerQuizz {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA
}

.imgQuizz{
    background: linear-gradient(
        to bottom,
        rgba(0,0,0, 0.2),
        rgba(0, 0, 0, 0.7)
        ),url(../media/LOTR-cover.jpeg);/*tirar esse background*/
    width: 100vw; 
    height: 227px;
    margin-top: 69px;
    background-position: center; /* Center the image */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgQuizz h2{
    color: white;
    font-size: 39px;
    letter-spacing: 0.5px;
}

.perguntaDiv {
    width: 759px;
    height: 676px;/**************************/
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #0000000D;
    border-radius: 3px;
    margin-bottom: 10px;
}

.quadrinho {
    width: 95%;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

.tituloPergunta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 138px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: rgb(88, 165, 165);
}

.tituloPergunta h4 {
    font-size: 23px;
    width: 90%;
    word-wrap: break-word;
}

.opcoes-resposta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.opcao {
    margin: 10px;
    margin-bottom: 5px;/******************/
    height: 230px;
}

.opcao img{
    width: 330px;
    height: 175px;
    object-fit: cover;
    border-radius: 2px;
    margin: 2px;
}

.opcao p {
    font-size: 20px;
    font-weight: 700;
    width: 330px;
    height: 30px;
    padding-left: 2px;
    margin-top: 5px;
    word-wrap: break-word;
}

.opacityEscolha {
    opacity: 30%;
}

.verdinho {
    color: #009C22;
}

.vermelhinho {
    color: #FF4B4B;
}


@media (max-width: 1100px){

    .imgQuizz h2{
        font-size: 21px;
    }

    .perguntaDiv {
        max-height: 436px;
        max-width: 375px;
        min-width: 375px;
    }
    
    .quadrinho {
        max-width: 365px;
        max-height: 410px;
        min-width: 365px;
        margin: 0;
    }

    .tituloPergunta {
        max-width: 340px;
        max-height: 89px;
}

    .tituloPergunta h4 {
        font-size: 17px;
        max-height: 90px;
        width: 97%;
        word-spacing: 2px;
        line-height: 21px;
        letter-spacing: 0.2px;
    }
    
    .opcao {
        margin: 5px;
        max-width: 168px;
        max-height: 140px;
    }
    
    .opcao img{
        max-width: 163px;
        max-height: 113px;
    }

    .opcao p {
        font-size: 13px;
        font-weight: 400;
        width: 163px;
        height: 15px;
        margin: 0;
    }
}